#urlTextField {
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.commentTextDisp{
    margin: 0
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #202020;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}